.home-container {
    margin: 0 auto;
    max-width: 1150px;
    margin-top: 30px;
    padding-top: 100px;
    color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 80px;
}
.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
}
.home-h2,
.special-text {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    text-transform: capitalize;
    color: #141414;
}
.special-text {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}
.highlighted {
    line-height: 50px;
    font-size: inherit;
    color: #0065fe;
}
.button-wrapper {
    gap: 20px;
    display: flex;
    justify-content: center;
    margin: 32px 0;
}
.primary-button {
    border: none;
    offset: none;
    color: #fff;
    font-size: 16px;
    padding: 16px 30px;
    border-radius: 50px;
    background-color: #0065fe;
    font-weight: 500;
}
.inverse-button {
    offset: none;
    border: none;
    font-size: 16px;
    padding: 16px 30px;
    border-radius: 50px;
    color: #0065fe;
    background-color: #fff;
}
.hero-image {
    margin-top: 50px;
    margin-left: -80px;
}
.eclipse-img {
    width: 100%;
    margin-bottom: -3.6px;
}
.onestop-container {
    margin: 0;
    padding: 60px 0;
}
.onestop-main {
    gap: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.onestop-text {
    margin: 0;
    padding: 0;
    min-width: 337px;
    text-align: left;
    font-size: 30px;
    text-transform: capitalize;
}
.data-container {
    width: 100%;
    display: flex;
    gap: 72px;
}
.data-main {
    display: flex;
    flex-direction: column;
}
.data-main > h4 {
    font-size: 32px;
    margin: 0;
    text-align: left;
}
.data-main > p {
    font-size: 16px;
    margin: 0;
    word-wrap: normal;
    text-align: left;
}


/* Media queries for responsiveness */
@media (min-width: 768px) {
    .home-main {
        width: 70vw;
    }
    .home-h2,
    .special-text {
        font-size: 40px;
        line-height: 60px;
    }
    .button-wrapper {
        margin: 40px 0;
    }
    .hero-image {
        margin-top: 70px;
        margin-left: 0;
    }
    .onestop-main {
        flex-direction: row;
        align-items: flex-start;
    }
    .onestop-text {
        min-width: 0;
        text-align: left;
    }
    .data-container {
        flex-direction: row;
        gap: 72px;
    }
    .data-main > h4,
    .data-main > p {
        text-align: left;
    }
}